@model TeamMVCProject.Models.Module

@{
    ViewBag.Title = "Details";
}
<center><img src="~/Images/Educational-Logo.png" width="200" height="150" /></center>
<h2>Details</h2>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleContents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleContents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleID }) |
    @Html.ActionLink("Back to List", "Index")
    <center><a href="@Url.Action("AddEdit","User")">Register on course</a></center>
</p>
